PUBLIC_SITE_NAME="Ita Bag Design Lab"
PUBLIC_SITE_URL="http://localhost:4321"
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
PUBLIC_TENANT_SLUG=ita-bag-lab
SUPABASE_SECRET_KEY=
ADMIN_API_TOKEN=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
LOCAL_SITE_CONFIG_PATH=
ALLOW_SEED_FALLBACK=true
